/Practica 2/PuntoyCirculoenJava/nbproject/private/
/Practica 2/PuntoyCirculoenJava/build/
/.metadata/
/Practica 9/Java/mavenproject1/target/
/Practica 9/ObjetosColoreados/mavenproject1/target/
/Practica 9/Teatromunicipal/teatromunicipal/target/
